.mapcontainer {
    flex: 2; /* This should be a flexible ratio of your layout */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Use 100% of the parent's height */
    position: relative; /* Ensures proper positioning of the map */
}

.map {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 8px;
    overflow: hidden; /* Ensure no overflow */
}
